<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="SubSonic.Core.VisualStudio.Common" publicKeyToken="c9d6be8d49f8634e" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\USERS\KCCAR\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\16.0_F65997BBEXP\EXTENSIONS\KENNETH CARTER\SUBSONIC.CORE.VISUALSTUDIO\1.0\SubSonic.Core.VisualStudio.Common.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>