<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.TextTemplating" version="2.2.0-preview-0096-g7b29bb1375" targetFramework="net472" />
  <package id="ServiceWire" version="5.3.4-preview-0002-ge35aeba7bf" targetFramework="net472" />
  <package id="SubSonic.Core.Extensions" version="1.0.0-preview-0025-ga9e9d8ea7a" targetFramework="net472" />
  <package id="SubSonic.Core.Remoting" version="1.0.0-preview-0025-ga9e9d8ea7a" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipes" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
</packages>